# FastAPI backend
fastapi
uvicorn[standard]
python-multipart

# Database
pymysql
python-dotenv

# Audio processing
librosa
numpy==1.26.4

# ML models
transformers
torch==2.2.0+cpu
torchaudio==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Utils
pandas
mutagen
